<div ng-cloak>
	<div class="row">
		<div class="col-md-2">
			<span class="hipster img-responsive"></span>
		</div>
		<div class="col-md-10">
			<h1>Power TAC Visualizer</h1>
			<p class="lead">Welcome!</p>

			<div ng-switch="isAuthenticated()">
				<div class="alert alert-success" ng-switch-when="true">You are
					logged in as user "{{account.login}}".</div>

				<div class="alert alert-warning" ng-switch-when="false">
					If you want to <a class="alert-link" href="#/login">sign in</a>,
					you can try the default accounts:<br />- Administrator
					(login="admin" and password="admin") <br />- User (login="user"
					and password="user").
				</div>

				<div class="alert alert-warning" ng-switch-when="false">
					You don't have an account yet? <a class="alert-link"
						href="#/register">Register a new account</a>
				</div>
			</div>




		</div>

	</div>

	<div>



		<div class="row">
			<div class="col-md-12">
				<h1>Money</h1>
				<p class="lead">Cumulative</p>
				<highchart config="allMoneyCumulativesConfig"></highchart>
			</div>
		</div>
		<div ng-show="true">
			<div class="row">
				<div class="col-md-6">
					<h1>Retail Money</h1>
					<p class="lead">Per time slot</p>
					<highchart config="retailMoneysConfig"></highchart>
				</div>
				<div class="col-md-6">
					<h1>Retail Money</h1>
					<p class="lead">Cumulative Money</p>
					<highchart config="retailMoneyCumulativesConfig"></highchart>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h1>Retail power</h1>
					<p class="lead">Per time slot kWh</p>
					<highchart config="retailKwhsConfig"></highchart>
				</div>
				<div class="col-md-6">
					<h1>Retail power</h1>
					<p class="lead">Cumulative kWh</p>
					<highchart config="retailKwhCumulativesConfig"></highchart>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h1>Subscriptions</h1>
					<p class="lead">Per time slot</p>
					<highchart config="subscriptionsConfig"></highchart>
				</div>
				<div class="col-md-6">
					<h1>Subscriptions</h1>
					<p class="lead">Cumulative subscriptions</p>
					<highchart config="subscriptionCumulativesConfig"></highchart>
				</div>
			</div>

		</div>
	</div>

</div>
