<div>
	<h2>Files</h2>

	<p>There are {{ rowCollection.length }} files.</p>


	<table st-table="displayedCollection" st-safe-src="rowCollection"
		class="table table-striped">
		<thead>
			<tr>
				<th colspan="2"><input st-search="" class="form-control"
					placeholder="filter (e.g 'boot') ..." type="text" /></th>
			</tr>
			<tr>
				<th st-sort="path">Files</th>

			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.path}}</td>
				<td>

					<button type="button" ng-click="selectFile(row)"
						class="btn btn-success">select</button>

				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="3" st-items-by-page="itemsByPage"
						st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	{{selectedFile}}


</div>
