<div>
	<h2>Game Manager</h2>



	<div class="well well">
		Game status: <span class="label label-{{state.gameStatusStyle}}">{{state.gameStatus}}</span>
		<button class="btn btn-danger" ng-click="closeGame()"
			ng-show="state.gameStatus && state.gameStatus.localeCompare('RUNNING') === 0">Close game</button>
	</div>





	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
		close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<form name="newGameForm" class="form-horizontal">
		<fieldset>
			<legend>Create New Game</legend>


			<div class="form-group">
				<label class="col-md-2 ">What kind of game do you want?</label>

				<div class="col-md-10">
					<div class="radio radio-primary">
						<label> <input type="radio" ng-model="selectedGameMode"
							value="BOOT" checked="true"> I want to run a bootstrap
							game so I can use its output file for a simulation game.
						</label>
					</div>
					<div class="radio radio-primary">
						<label> <input type="radio" ng-model="selectedGameMode"
							value="SIM" checked=""> I want to run a simulation game
							with brokers.
						</label>
					</div>
					<div class="radio radio-primary">
						<label> <input type="radio" ng-model="selectedGameMode"
							value="REPLAY" checked=""> I want to replay an old game
							from its state log.
						</label>
					</div>
				</div>
			</div>

			<!-- BOOT SPECIFIC STUFF -->
			<div
				ng-show="selectedGameMode && selectedGameMode.localeCompare('BOOT') === 0">

				<div class="form-group">
					<label class="col-md-2">Enter boot file name (required):</label>

					<div class="col-md-3">
						<div class="form-group label-floating">
							<label class="control-label" for="bootFileNameInput">e.g.,
								boot.xml</label> <input class="form-control" id="bootFileNameInput"
								ng-model="selectedBootFileName" ng-required="true" type="text">
							<p class="help-block">Required. Once the bootstrap game is
								finished, you will be able to use this file as input for a
								simulation game.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- alpha num pattern: ng-pattern="/^[a-zA-Z0-9]*$/" -->

			<!-- FILE BROWSER -->
			<div class="form-group" ng-show="selectedGameMode">
				<label class="col-md-2">Pick files you may need for a game:</label>

				<div class="col-md-10">
					<table st-table="displayedCollection" st-safe-src="filesCollection"
						class="table table-striped">
						<thead>

							<tr>
								<th colspan="3"><input st-search="" class="form-control"
									placeholder="filter (e.g 'boot') from {{ filesCollection.length }} files ..."
									type="text" /></th>
							</tr>

							<tr>
								<th st-sort="path">Files</th>
								<th colspan="3">Pick appropriate files to set up your game:</th>

							</tr>

						</thead>
						<tbody>
							<tr ng-repeat="row in displayedCollection">
								<td>{{row.path}}</td>
								<td>
									<div class="btn-group">
										<li dropdown class="btn" dropdown-toggle><a> <span>
													<span class="glyphicon glyphicon-th-list"></span> Pick as
											</span> <b class="caret"></b> </span>
										</a>
											<ul class="dropdown-menu">
												<li><button type="button"
														ng-click="onSelectedBootFile(row.path)"
														class="btn btn-primary"
														ng-show="selectedGameMode.localeCompare('SIM') === 0 && !selectedBootFile">Boot
														file</button></li>
												<li><button type="button"
														ng-click="onSelectedConfigFile(row.path)"
														class="btn btn-primary"
														ng-show="selectedGameMode.localeCompare('REPLAY') !== 0 && !selectedConfigFile">Config
														file</button></li>
												<li>
												<li><button type="button"
														ng-click="onSelectedWeatherFile(row.path)"
														class="btn btn-primary"
														ng-show="selectedGameMode.localeCompare('REPLAY') !== 0 && !selectedWeatherFile">Weather
														file</button></li>

												<li><button type="button"
														ng-click="onSelectedStateFile(row.path)"
														class="btn btn-primary"
														ng-show="selectedGameMode.localeCompare('REPLAY') === 0 && !selectedStateFile">State
														file</button></li>


											</ul></li>
									</div>
								</td>


							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="3" class="text-center">
									<div st-pagination="3" st-items-by-page="itemsByPage"
										st-displayed-pages="7"></div>
								</td>
							</tr>
						</tfoot>
					</table>



				</div>


			</div>




			<!-- STATE SPECIFIC STUFF -->
			<div
				ng-show="selectedGameMode && selectedGameMode.localeCompare('REPLAY') === 0">




				<div class="form-group">

					<label class="col-md-2" for="stateFileInput">Selected state
						file (required):</label>
					<div class="input-group col-md-5">
						<input type="text" id="stateFileInput" class="form-control"
							disabled="" ng-model="selectedStateFile"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-fab btn-fab-mini"
								ng-show="selectedStateFile" ng-click="resetSelectedStateFile()">
								<i class="material-icons">clear</i>
							</button>
						</span>
					</div>
				</div>
			</div>


			<!-- SIM STUFF -->
			<div id="simStuff"
				ng-show="selectedGameMode && selectedGameMode.localeCompare('SIM') === 0">

				<div class="form-group">

					<label class="col-md-2" for="bootFileInput">Selected boot
						file (required):</label>
					<div class="input-group col-md-5">
						<input type="text" id="bootFileInput" class="form-control"
							disabled="" ng-model="selectedBootFile"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-fab btn-fab-mini"
								ng-show="selectedBootFile" ng-click="resetSelectedBootFile()">
								<i class="material-icons">clear</i>
							</button>
						</span>
					</div>
				</div>


				<!-- BROKERS -->

				<div class="form-group">
					<label class="col-md-2">Add brokers:</label>

					<div class="col-md-6">

						<table st-table="displayedBrokerCollection"
							st-safe-src="brokerCollection" class="table table-striped">
							<thead>

								<tr>
									<th><input class="form-control" id="logSuffixInput"
										ng-model="broker" placeholder="..enter broker's name..."
										ng-pattern="/^[a-zA-Z0-9]*$/" type="text"
										ng-keyup="$event.keyCode == 13 && broker && addBroker(broker)">
									</th>
									<th><button type="button" class="btn btn-fab btn-fab-mini"
											ng-show="broker" ng-click="addBroker(broker)">
											<i class="material-icons">add circle</i>
										</button></th>
								</tr>

								<tr>
									<th colspan="3" st-sort="name">Broker</th>


								</tr>

							</thead>
							<tbody>
								<tr ng-repeat="row in displayedBrokerCollection">
									<td>{{row.name}}</td>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-fab btn-fab-mini"
												ng-click="removeBroker(row)">
												<i class="material-icons">clear</i>
											</button>
										</div>
									</td>


								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3" class="text-center">
										<div st-pagination="3" st-items-by-page="itemsByPage"
											st-displayed-pages="7"></div>
									</td>
								</tr>
							</tfoot>
						</table>



					</div>


				</div>








				<div class="form-group">
					<label class="col-md-2">Enter the URL of the jms message
						broker (optional):</label>

					<div class="col-md-3">
						<div class="form-group label-floating">
							<label class="control-label" for="jmsUrlInput">e.g.,
								tcp://sociallab.science:61616</label> <input class="form-control"
								id="jmsUrlInput" ng-model="jmsUrl" type="text">
							<p class="help-block">Optional. The default value is
								tcp://localhost:61616.</p>
						</div>
					</div>
				</div>


			</div>

			<!-- SIM AND BOOT OPTIONAL STUFF -->
			<div id="simAndBootOptionalStuff"
				ng-show="selectedGameMode && selectedGameMode.localeCompare('REPLAY') !== 0">


				<div class="form-group">

					<label class="col-md-2" for="configFileInput">Selected
						configuration file (optional):</label>
					<div class="input-group col-md-5">
						<input type="text" id="configFileInput" class="form-control"
							disabled="" ng-model="selectedConfigFile"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-fab btn-fab-mini"
								ng-show="selectedConfigFile"
								ng-click="resetSelectedConfigFile()">
								<i class="material-icons">clear</i>
							</button>
						</span>
					</div>
				</div>

				<div class="form-group">

					<label class="col-md-2" for="weatherFileInput">Selected
						weather file (optional):</label>
					<div class="input-group col-md-5">
						<input type="text" id="weatherFileInput" class="form-control"
							disabled="" ng-model="selectedWeatherFile"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-fab btn-fab-mini"
								ng-show="selectedWeatherFile"
								ng-click="resetSelectedWeatherFile()">
								<i class="material-icons">clear</i>
							</button>
						</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2">Enter the root name for the log
						files name (optional):</label>

					<div class="col-md-3">
						<div class="form-group label-floating">
							<label class="control-label" for="logSuffixInput">e.g.,
								experiment</label> <input class="form-control" id="logSuffixInput"
								ng-model="logSuffix" type="text">
							<p class="help-block">Optional. "suffix" gives the root name
								for the log files, and defaults to "boot"; two log files are
								produced: powertac-suffix.trace and powertac-suffix.state.</p>
						</div>
					</div>
				</div>


			</div>

			<!-- SIM STUFF -->
			<div id="simStuff"
				ng-show="selectedGameMode && selectedGameMode.localeCompare('SIM') === 0">



			</div>
			<button type="button"
				class="btn btn-lg btn-block btn-raised btn-success"
				ng-disabled="!isGameValid() || state.gameStatus.localeCompare('RUNNING') === 0 || state.gameStatus.localeCompare('Game status will be available soon...') === 0" ng-click="startNewGame()">
				<span>Start new game</span>
			</button>

			<br /> <br />
			<div class="jumbotron" ng-show="false">
				<h1>DEBUG</h1>

				<p>bootFile: {{selectedBootFile}}</p>
				<p>configFile: {{selectedConfigFile}}</p>
				<p>stateFile: {{selectedStateFile}}</p>
				<p>weatherFile: {{selectedWeatherFile}}</p>
				<p>gameMode: {{selectedGameMode}}</p>
				<p>brokers: {{brokerCollection}}</p>
				<p>bootFileName: {{selectedBootFileName}}</p>
				<p>jmsUrl: {{jmsUrl}}</p>
				<p>msg: {{msg}}</p>



			</div>




		</fieldset>

	</form>
</div>