<div>
    <h2>Games</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="game.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Game</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gameType"><span>GameType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bootFile"><span>BootFile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="configFile"><span>ConfigFile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stateFile"><span>StateFile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weatherFile"><span>WeatherFile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bootFileName"><span>BootFileName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logSuffix"><span>LogSuffix</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jmsUrl"><span>JmsUrl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="game in games track by game.id">
                    <td><a ui-sref="game.detail({id:game.id})">{{game.id}}</a></td>
                    <td translate="{{'visualizerApp.GameType.' + game.gameType}}">{{game.gameType}}</td>
                    <td>{{game.bootFile}}</td>
                    <td>{{game.configFile}}</td>
                    <td>{{game.stateFile}}</td>
                    <td>{{game.weatherFile}}</td>
                    <td>{{game.bootFileName}}</td>
                    <td>{{game.logSuffix}}</td>
                    <td>{{game.jmsUrl}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="game.detail({id:game.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="game.edit({id:game.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="game.delete({id:game.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
