
<div>
    <h2><span>Game</span> {{game.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>GameType</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'visualizerApp.GameType.' + game.gameType}}">{{game.gameType}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>BootFile</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.bootFile}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ConfigFile</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.configFile}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>StateFile</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.stateFile}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>WeatherFile</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.weatherFile}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>BootFileName</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.bootFileName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LogSuffix</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.logSuffix}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>JmsUrl</span>
                </td>
                <td>
                    <span class="form-control-static">{{game.jmsUrl}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>brokers</span>
                </td>
                <td>
                    <span ng-repeat="brokers in game.brokerss">
                        <a class="form-control-static" ui-sref="simpleBroker.detail({id: {{brokers.id}}})">{{brokers.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
