
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="game.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gameType">GameType</label>
            <select class="form-control" name="gameType" ng-model="game.gameType" id="field_gameType" required>
                <option value="SIM">SIM</option>
                <option value="BOOT">BOOT</option>
                <option value="REPLAY">REPLAY</option>
            </select>
            <div ng-show="editForm.gameType.$invalid">
                <p class="help-block"
                    ng-show="editForm.gameType.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bootFile">BootFile</label>
            <input type="text" class="form-control" name="bootFile" id="field_bootFile"
                    ng-model="game.bootFile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_configFile">ConfigFile</label>
            <input type="text" class="form-control" name="configFile" id="field_configFile"
                    ng-model="game.configFile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_stateFile">StateFile</label>
            <input type="text" class="form-control" name="stateFile" id="field_stateFile"
                    ng-model="game.stateFile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_weatherFile">WeatherFile</label>
            <input type="text" class="form-control" name="weatherFile" id="field_weatherFile"
                    ng-model="game.weatherFile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bootFileName">BootFileName</label>
            <input type="text" class="form-control" name="bootFileName" id="field_bootFileName"
                    ng-model="game.bootFileName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_logSuffix">LogSuffix</label>
            <input type="text" class="form-control" name="logSuffix" id="field_logSuffix"
                    ng-model="game.logSuffix"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_jmsUrl">JmsUrl</label>
            <input type="text" class="form-control" name="jmsUrl" id="field_jmsUrl"
                    ng-model="game.jmsUrl"
                     />
        </div>

        <div class="form-group">
            <label for="field_brokers">brokers</label>
            <select class="form-control" id="field_brokers" multiple name="brokers" ng-model="game.brokerss" ng-options="simpleBroker as simpleBroker.name for simpleBroker in simplebrokers track by simpleBroker.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
