<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>visualizer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
              <!-- Material Design fonts -->
 	 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>
    <body ng-app="visualizerApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <div ui-view="navbar" ng-cloak=""></div>
        <div class="container">
            <div class="well" ui-view="content"></div>

            <div class="footer">
                <p translate="footer"><a href="http://www.powertac.org" class="btn btn-link">Power TAC</a>
                <a href="http://tac.sics.se/" class="btn btn-link">Trading Agent Competition</a>
                 <a href="http://wolf-08.fbk.eur.nl:8080/TournamentScheduler/faces/index.xhtml" class="btn btn-link">Tournament Scheduler</a>
                  <a href="http://www.powertac.org/wiki/index.php/Getting_Started" class="btn btn-link">Getting started</a>
                   <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2562394" class="btn btn-link">Game Specification</a></p>
                   
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
        <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
        <script src="bower_components/arrive/src/arrive.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
        <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/uib-pager.config.js"></script>
    <script src="scripts/components/form/uib-pagination.config.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/util/capitalize.filter.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/date-util.service.js"></script>
    <script src="scripts/components/util/data-util.service.js"></script>
    <script src="scripts/components/util/sort.directive.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-delete-dialog.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="scripts/components/auth/provider/auth.xauth.service.js"></script>
    <script src="scripts/app/admin/tracker/tracker.js"></script>
    <script src="scripts/app/admin/tracker/tracker.controller.js"></script>
    <script src="scripts/components/tracker/tracker.service.js"></script>
    <script src="scripts/app/entities/simpleBroker/simpleBroker.js"></script>
    <script src="scripts/app/entities/simpleBroker/simpleBroker.controller.js"></script>
    <script src="scripts/app/entities/simpleBroker/simpleBroker-dialog.controller.js"></script>
    <script src="scripts/app/entities/simpleBroker/simpleBroker-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/simpleBroker/simpleBroker-detail.controller.js"></script>
    <script src="scripts/components/entities/simpleBroker/simpleBroker.service.js"></script>
    <script src="scripts/app/entities/game/game.js"></script>
    <script src="scripts/app/entities/game/game.controller.js"></script>
    <script src="scripts/app/entities/game/game-dialog.controller.js"></script>
    <script src="scripts/app/entities/game/game-delete-dialog.controller.js"></script>
    <script src="scripts/app/entities/game/game-detail.controller.js"></script>
    <script src="scripts/components/entities/game/game.service.js"></script>
    <!-- endbuild -->
    
    <!-- viz -->
    <script src="scripts/components/push/push.service.js"></script>
    <script src="scripts/app/admin/files/files.js"></script>
    <script src="scripts/app/admin/files/files.controller.js"></script>
    <script src="scripts/components/admin/files.service.js"></script>
    <script src="bower_components/at-table/dist/angular-table.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="scripts/app/game-manager/game-manager.js"></script>
    <script src="scripts/app/game-manager/game-manager.controller.js"></script>
    <script src="scripts/components/admin/game-util.service.js"></script>
    <script src="scripts/components/admin/state.service.js"></script>
    <script src="bower_components/highcharts/highstock.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
</body>
</html>
